<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.study">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Tutorials.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tutorials.Java" />
        <activity android:name=".Tutorials.Testing" />
        <activity android:name=".Tutorials.Web_Technology" />
        <activity android:name=".Tutorials.Big_Data" />
        <activity android:name=".Tutorials.Dot_net" />
        <activity android:name=".Tutorials.Sap" />
        <activity android:name=".Tutorials.Oracle" />
        <activity android:name=".Tutorials.Data_warehouse" />
        <activity android:name=".Tutorials.Java_Script"></activity>
    </application>

</manifest>